.tabs {
  height: 40px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 10px;
}

.tab {
  width: 130px;
  height: 100%;
  background-color: #373864;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}

.tabInactive {
  width: 130px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  background-color: #2f2c4b;
  cursor: pointer;
  color: #AAAAAA;
}

.tabNew {
  width: 50px;
  height: 100%;
  background-color: #5f83d8;
  font-size: 24px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 10px 10px 0 0;
  cursor: pointer;
}
