.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #1b192f;
  height: 100%;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0 50px 0;
}

.folder {
  width: 100%;
  height: calc(100% - 40px);
  background-color: #373864;
  border-radius: 0 10px 10px 10px;
}
